<div class="inner-hero-section">
    <div class="bg-shape"><img src="assets/images/elements/inner-hero-shape.png" alt="image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="page-list">
                    <li><a [routerLink]="['dashboard']">Home</a></li>
                    <li><a>Cart</a></li>
                    <li><a>Payment</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- inner-hero-section end -->
<!-- lottery-details start -->
<section class="pb-120 mt-minus-300">
    <div class="container text-center">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>

    </div>
</section>
