<!-- header-section start  -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="left d-flex align-items-center">
                        <a href="tel:65655655"><i class="las la-phone-volume"></i> Customer Support</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="right">
                        <a href="#0" class="user__btn" data-toggle="modal" data-target="#loginModal"><i class="las la-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header__top end -->
    <div class="header__bottom">
        <div class="container">
            <nav class="navbar navbar-expand-xl p-0 align-items-center">
                <a class="site-logo site-title"><img width="150px" src="assets/images/lotto.png" alt="site-logo"><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-toggle"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li>
                            <a [routerLink]="['dashboard']">Home</a>
                        </li>
                        <!-- <li><a href="error-404.html">404 Page</a></li> -->
                        <li><a [routerLink]="['contact']">contact</a></li>
                    </ul>
                    <div class="nav-right">
                        <a [routerLink]="['participation']" class="cmn-btn style--three btn--sm"><img src="assets/images/icon/btn/tag.png" alt="icon" class="mr-2"> Participate Now</a>
                    </div>
                    <div class="nav-right">
                        <a *ngIf="api.cart >0" [routerLink]="['cart']" class="cmn-btn style--three btn--sm"><i class="fa fa-cart-plus"></i> ({{api.cart}})</a>
                        <a href="javascript:void(0)" *ngIf="api.cart == 0" class="cmn-btn style--three btn--sm"><i class="fa fa-cart-plus"></i> ({{api.cart}})</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- header__bottom end -->
</header>
<!-- header-section end  -->

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="account-form-area">
                    <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
                    <h3 class="title">Welcome Back</h3>
                    <div class="account-form-wrapper">
                        <form>
                            <div class="form-group">
                                <label>Email <sup>*</sup></label>
                                <input type="email" name="login_name" id="login_name" placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label>password <sup>*</sup></label>
                                <input type="password" name="login_pass" id="login_pass" placeholder="password">
                            </div>
                            <div class="d-flex flex-wrap justify-content-between mt-2">
                                <div class="custom-checkbox">
                                    <input type="checkbox" name="id-1" id="id-1" checked>
                                    <label for="id-1">Remember Password</label>
                                    <span class="checkbox"></span>
                                </div>
                                <a href="#0" class="link">Forgot Password?</a>
                            </div>
                            <div class="form-group text-center mt-5">
                                <button class="cmn-btn">log in</button>
                            </div>
                        </form>
                        <p class="text-center mt-4">Don’t have an account? <a href="#0" data-toggle="modal" data-target="#signupModal"> Sign Up Now</a></p>
                        <!-- <div class="divider">
                            <span>or</span>
                        </div>
                        <ul class="social-link-list">
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sign Up modal -->
<div class="modal fade" id="signupModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="account-form-area">
                    <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close"><i class="las la-times"></i></button>
                    <h3 class="title">Open Free Account</h3>
                    <div class="account-form-wrapper">
                        <form>
                            <div class="form-group">
                                <label>Email <sup>*</sup></label>
                                <input type="email" name="signup_name" id="signup_name" placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label>password <sup>*</sup></label>
                                <input type="password" name="signup_pass" id="signup_pass" placeholder="password">
                            </div>
                            <div class="form-group">
                                <label>confirm password <sup>*</sup></label>
                                <input type="password" name="signup_re-pass" id="signup_re-pass" placeholder="Confirm Password">
                            </div>
                            <div class="d-flex flex-wrap mt-2">
                                <div class="custom-checkbox">
                                    <input type="checkbox" name="id-2" id="id-2" checked>
                                    <label for="id-2">I agree to the</label>
                                    <span class="checkbox"></span>
                                </div>
                                <a href="#0" class="link ml-1">Terms, Privacy Policy and Fees</a>
                            </div>
                            <div class="form-group text-center mt-5">
                                <button class="cmn-btn">log in</button>
                            </div>
                        </form>
                        <p class="text-center mt-4"> Already have an account? <a href="#0" data-target="#loginModal">Login</a></p>
                        <!-- <div class="divider">
                            <span>or</span>
                        </div>
                        <ul class="social-link-list">
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>